@import "../../assets/bootstrap/3.2.0/less/bootstrap";
@import "../../assets/font-awesome/4.1.0/less/font-awesome";

@fa-font-path: "resources/assets/font-awesome/4.1.0/fonts";
@icon-font-path: "resources/assets/bootstrap/3.2.0/fonts/";

body {
    padding: 70px 0;
}

.sign-in-container {
    padding-top: 70px;
}

.log-messages {
    tr:first-child td {
        border-top-width: 0;
    }

    .timestamp, .thread, .level, .logger, .message {
        padding: 1px 2px;
        font-size: 12px;
    }
    .timestamp, .thread, .level, .logger {
        width: 10px;
        white-space: nowrap;
    }
}